body{
    background-color: rgb(51, 207, 12);
    display: flex;
    height: 95vh;
    width: 95;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
}
h1{
    margin: 10px;
}
#pontuacao{
    font-size: large;
}
#restart{
    margin: 10px;
}

